<h2><u>Your Stone Collection</u></h2>
<body>
<%if @gems == nil || @gems.empty? %>
    Your collection is empty.<br>
<form method="get" action="/gemstone/new">
Add some Gems to your collection<br>
<input type="submit" value="New Stone"><br>
</form><br>
<%else%>
<% @gems.each_with_index do |gem, index| %>
    <br>
    <%= index+1 %>.<br>
    Name: <%= gem.name %><br>
    Properties: <%= gem.properties %><br>
    Source: <%= gem.source %><br>
    <form action="/gemstone/<%=gem.id%>/edit" method="get">
    <input type="submit" id="<%=gem.id%>" value="Edit Stone"<br>
    </form>
    <%end%>
    <%end%>
    <br>
    <form method="get" action="/user/<%=current_user.id%>/home">
    <input type="submit" value="Home">
    </form>
</body>