<h2><u>Your Stone Collection</u></h2>
<body>
<%if @gems == nil || @gems.empty? %>
    Your collection is empty.<br>
<form method="get" action="/gemstone/new">
Add some Gems to your collection<br>
<input type="submit" value="New Stone"><br>
</form><br>
<%else%>
<% @gems.each_with_index do |gem, index| %>
    <br>
    <%= index+1 %>.<br>
    Name: <%= gem.name %><br>
    Properties: <%= gem.properties %><br>
    Source: <%= gem.source %><br>
    <form action="/gemstone/<%=gem.id%>/edit" method="get">
    <input type="submit" value="Edit Stone"<br>
    </form>
    <%end%>
    <%end%>


</body>
<br>
<a href="/<%=session[:user_id]%>/comments">View Comments</a>

<div class="sidebar">
<form method="get" action="/user/<%=current_user.id%>">
    <input type="submit" value="Home">
    </form>
<form method="post" action="/logout">
<input type="submit" value="LogOut">
</form>
</div>